# MCP Settings
MCP_DB_CON=

# VectorDB Settings
VECTOR_DB_CON=

# ollama configuration
OLLAMA_BASE_URL=
OLLAMA_TIMEOUT=

# embedding model configuration
EMBEDDING_MODEL=

# LLM model configuration
LLM_MODEL=

# FAISS 방식에서 사용된 환경변수
UPLOADS_DIR=
UPLOADS_VECTOR_INDEX_PATH=
UPLOADS_VECTOR_META_PATH=

FIGMA_VECTOR_INDEX_PATH=
FIGMA_VECTOR_META_PATH=

# Embedding Settings
RAG_DEFAULT_QUERY=
RAG_TC_COUNT=
RAG_TOP_K=
RAG_BATCH_SIZE=
RAG_TC_ID_PREFIX=

# Figma Settings
FIGMA_ENABLED=
FIGMA_API_TOKEN=
FIGMA_URL=
FIGMA_CHUNK_MODE=